<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Новости туризма</title>
    <script src='https://www.google.com/recaptcha/api.js?render=6LcdnI0UAAAAAG9qsJr5-x7fxeZEyoTYmvSS-KvY'></script>
</head>
<body class="wrapper">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a href="#" class="navbar-brand">
        <img style="width: 25px; height: 25px;" th:src="@{/img/logo.png}" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/hello" class="nav-link">Новости туризма</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">О проекте</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Вход</a>
            </li>
            <li class="nav-item">
                <a href="/reg" class="nav-link">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>


<!-- START SECTION-->
<div class="container">
    <div class="card hoverable cyan darken-2" style="width: 100%">
        <div class="card-header" style="text-align: center">
            <h4>МИНИСТЕРСТВО ТРАНСПОРТА РОССИЙСКОЙ ФЕДЕРАЦИИ</h4>
            <h4>ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ</h4>
            <h4>ОБРАЗОВАТЕЛЬНОЕ</h4>
            <h4>УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ</h4>
            <h4>«РОССИЙСКИЙ УНИВЕРСИТЕТ ТРАНСПОРТА (МИИТ)»</h4>
            <h4>(РУТ (МИИТ)</h4>
            <h5 class="card-title">Курсовой проект по дисциплине: "Основы построения защищенных баз данных"</h5>
            <h5 class="card-title">На тему: "Создание новостного блока сайта туристической компании"</h5>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div class="m-3" style="flex-gro:1">
                <img style="max-height: 200px; max-width: 320px" th:src="@{/img/roat.jpg}" alt="...">
            </div>
            <div class="m-3" style="flex-grow:1">
                <div>Выполнил:</div>
                <div>студент 2 курса</div>
                <div>Сенько Леонид Сергеевич</div>
                <div>1810-ПИм-2263</div>
                <div>Проверил:</div>
                <div>д.т.н. - Коптева Лариса Георгиевна</div>
                <div>Ссылка на GitHub с проектом: <a href="https://github.com/SenkoLS/news">https://github.com/SenkoLS/news</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            <div class="font-weight-bold">Москва 2020</div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>