<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/head::head"></head>
<body>
<header th:include="fragments/header::header"></header>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card hoverable cyan darken-2">
                <div class="card-content white-text">
                    <span class="card-title">Профиль</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">account_box</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card hoverable purple darken-3">
                <div class="card-content white-text">
                    <span class="card-title">Мои задачи</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">edit</i>
                    </a>
                    <a href="/main">
                        <i class="medium material-icons">note_add</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card hoverable cyan darken-2">
                <div class="card-content white-text">
                    <span class="card-title">Canban</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">developer_board</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card hoverable blue darken-3">
                <div class="card-content white-text">
                    <span class="card-title">Поиск исполнителя</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">find_in_page</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card hoverable cyan darken-2">
                <div class="card-content white-text">
                    <span class="card-title">Поиск задач</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">find_in_page</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card hoverable blue darken-3">
                <div class="card-content white-text">
                    <span class="card-title">История</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">history</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card hoverable purple darken-3">
                <div class="card-content white-text">
                    <span class="card-title">Справочники</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons purple darken-3">library_books</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card hoverable blue darken-3">
                <div class="card-content white-text">
                    <span class="card-title">Отчеты</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">report</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card hoverable purple darken-3">
                <div class="card-content white-text">
                    <span class="card-title">Счет</span>
                </div>
                <div class="card-action">
                    <a href="/main">
                        <i class="medium material-icons">monetization_on</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<footer th:include="fragments/footer::footer"></footer>-->
</body>
</html>